# IDE
.vscode/
.idea/
*.swp

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.local
.env.*.local
env/**/.env*
env/**/.env.*
env/dev/.env.*
env/prod/.env.*
env/test/.env.*

# Docker
docker-compose.db.yml

# Docs images (ไม่อยาก push diagram)
docs/*.png